.footer {
  margin-top: auto;
  padding: 58px 0;
  font-family: $Roboto;
  background-color: $text-black;

  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: underline;

    @include max-to(md) {
      font-size: 12px;
      line-height: 14px;
    }

    @include max-to(xs) {
      font-size: 10px;
      line-height: 12px;
    }

    &_light {
      margin-bottom: 15px;
      color: $light-gray;

      @include max-to(md) {
        margin-bottom: 10px;
      }

      &:hover {
        color: $light-gray;
      }
    }

    &_dark {
      margin-bottom: 10px;
      color: $dark-light;

      @include max-to(md) {
        margin-bottom: 5px;
      }

      &:hover {
        color: $dark-light;
      }
    }
  }

  &__nav {
    padding-right: 5px;
  }

  &__first-col {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: $light-gray;

    @include max-to(md) {
      margin-bottom: 10px;
      font-size: 14px;
    }

    @include max-to(xs) {
      margin-bottom: 6px;
      font-size: 12px;
    }
  }

  &__copyright {
    margin-top: 75px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $dark-light;


    @include max-to(md) {
      font-size: 14px;
    }

    @include max-to(xs) {
      margin-top: 30px;
      font-size: 12px;
    }
  }

  &__tel {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: $text-white;

    @include max-to(md) {
      font-size: 9px;
    }

    &:hover::before {
      animation: shake 1s both;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -25px;
      width: 15px;
      height: 15px;
      background-image: url('../img/icons/icons-03.svg');
      background-repeat: no-repeat;
      background-position: center;

      @include max-to(md) {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__forth-col {
    text-align: right;
  }
}

footer {
  display: block !important;
}
