.header {
  padding: 14px 0;
  font-family: $Roboto;
  border-bottom: 1px solid #ededed;

  @include max-to(ss) {
    padding: 10px 0;
  }

  &__callback {

    span {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: $text-black;
      cursor: pointer;

      @include max-to(md) {
        font-size: 12px;
      }

      @include max-to(ss) {
        font-size: 10px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -36px;
        width: 16px;
        height: 16px;
        background-image: url('../img/icons/icons-02.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all $delay;

        @include max-to(xs) {
          left: -17px;
          width: 12px;
          height: 12px;
        }
      }

      &:hover::before {
        background-image: url('../img/icons/icons-03.svg');
      }
    }
  }

  &__num {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: $text-black;

    @include max-to(md) {
      display: none;
    }
  }

  &__lang {

    &-item,
    &-slash {
      padding-right: 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #b2b2b2;

      @include max-to(md) {
        font-size: 12px;
      }

      @include max-to(ss) {
        padding-right: 5px;
        font-size: 10px;
      }
    }

    &-item {
      cursor: pointer;
      transition: all .25s;
      transform-origin: right;

      &:last-child {
        transform-origin: left;
      }

      &_chosen {
        transform: scale(2);
        font-weight: bold;
        color: $text-black;

        @include max-to(xs) {
          transform: scale(1.3);
        }
      }
    }
  }

  .navbar-toggler {
    background-color: $light-blue;
    outline: $blue;

    @include max-to(xs) {
      padding: 0;
      width: 36px;
      height: 36px;

      &-icon {
        width: 1em;
        height: 1em;
      }
    }
  }

  .row {
    width: 100%;

    @include max-to(xs) {
      margin-left: 0;
    }
  }

  button {
    @include min-from(f_sm) {
      display: none;
    }
  }

  .container {
    @include max-to(ss) {
      padding: 0;
    }
  }
}

.logo {
  flex: 1;
  cursor: pointer;

  &__descr {
    flex: 1;
    padding-left: 40px;

    @include max-to(md) {
      display: none;
    }
  }

  img {
    max-width: 132px;
    max-height: 56px;

    @include max-to(md) {
      max-width: 90px;
      max-height: 45px;
    }

    @include max-to(ss) {
      max-width: 100%;
    }
  }
}

.main-nav {
  font-family: $Roboto;
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: 9;

  @include max-to(sm) {
    display: none;
  }

  &__mobile {
    display: none;
    padding: 0;

    @include max-to(sm) {
      display: block;
    }

    @include min-from(f_sm) {
      padding: 0;
    }

    .nav-link {
      display: inline;
    }
  }

  &__mobile-collaps{
    padding: 1rem 1rem;
  }

  &__item {
    position: relative;
    padding: 14px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    cursor: pointer;
    color: $text-black;
    transition: all $delay;

    @include max-to(lg) {
      font-size: 12px;
    }

    @include max-to(md) {
      font-size: 12px;
      text-align: left;
    }

    @include max-to(sm) {
      border-bottom: 1px solid #ededed;
    }

    @include max-to(ss) {
      padding: 8px 0;
    }

    &:hover {
      color: $blue;
    }

    &:hover &-text::after {
      background-image: url('../img/icons/icons-04.svg');
      transform: translateY(-50%) rotate(-90deg);
    }

    &:hover > .main-nav__submenu {
      display: block;
      animation: fadeIn .25s alternate both;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &-text {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
        width: 14px;
        height: 14px;
        background-image: url('../img/icons/icons-04.1.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all $delay;

        @include max-to(md) {
          right: -22px;
          width: 10px;
          height: 10px;
        }

        @include max-to(ss) {
          right: -20px;
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  &__submenu {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.24);
    transition: all $delay;
    z-index: 3;

    @include max-to(md) {
      width: 120%;
    }

    @include max-to(sm) {
      box-shadow: none;
    }

    &-item {
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
      text-transform: none;
      color: $text-black;
      transition: all $delay;

      @include max-to(md) {
        display: block;
        margin: 5px 0;
        padding-left: 5px;
        text-align: left;
        font-size: 12px;
        line-height: 14px;
      }

      &:hover {
        color: $text-grey;
      }

      a {
        @extend .main-nav__submenu-item;
      }

      &:last-child {
        margin-bottom: 27px;

        @include max-to(md) {
          margin-bottom: 7px;
        }
      }
    }
  }
}

.no-gutters-md {
  @include max-to(md) {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
