// FadeIn
@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOutFlex {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInFlex {
  0% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-350%) rotate(-45deg);
  }
  80% {
    transform: translateX(50%) rotate(10deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  20% {
    transform: translateX(-50%) rotate(-10deg);
  }
  100% {
    transform: translateX(400%) rotate(45deg);
  }
}

// Shake
.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0) translateY(-50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-2px, 0, 0) translateY(-50%);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(2px, 0, 0) translateY(-50%);
  }
}
