body {
  display: flex;
  flex-direction: column;
  font-family: $Roboto;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

p,
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: $text-black;
  text-decoration: none;
  text-decoration-skip-ink: none;
  transition: all .25s;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.text {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $text-grey;
}

.text-black {
  font-family: $Roboto;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: $text-black;
}

.title {
font-family: $Roboto;
font-size: 48px;
font-weight: bold;
line-height: 60px;
color: $text-black;

  @include max-to(md) {
    font-size: 42px;
    line-height: 48px;
  }

  @include max-to(xs) {
    font-size: 36px;
    line-height: 42px;
  }

  @include max-to(ss) {
    font-size: 28px;
    line-height: 36px;
  }

  span {
   color: $blue;
  }
}

.title-form {
  max-width: 318px;
  color: $text-black;
  font-family: $Roboto;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  position: relative;
  text-align: center;
  justify-content:center;
  margin: 0 auto;
  margin-bottom: 40px;
  @media only screen and (max-width: $md) {
    font-size: 42px;
    line-height: 50px;
  }
  @media only screen and (max-width: $xs) {
    font-size: 36px;
    line-height: 38px;
  }
  &:before {
      position: absolute;
      content: "/";
      width: 30px;
      height: 62px;
      color: #e0e0e0;
      font-family: $Roboto;
      font-size: 80px;
      font-weight: 500;
      left: -52px;
      bottom: 0;
      @media only screen and (max-width: $md) {
        left: -25px;
      }
    }

  @include max-to(md) {
    font-size: 42px;
    line-height: 48px;
  }

  @include max-to(xs) {
    font-size: 36px;
    line-height: 42px;
  }

  @include max-to(ss) {
    font-size: 28px;
    line-height: 36px;
  }
}

// navigation string
.navigation-string {
  margin-top: 21px;
  @media only screen and (max-width: $xs) {
    padding: 0 30px;
  }
  &__a {
    color: #b2b2b2;
    font-family: $Roboto;
    font-size: 12px;
    font-weight:normal;
  }

  &__a:last-child {
    color: $blue;
    cursor: default;
  }

  &__span {
    color: #b2b2b2;
    font-family: $Roboto;
    font-size: 12px;
    font-weight:normal;
    display: block;
    margin: 0 3px;
  }
}

.bracket {
  position: relative;

  &::before {
    content: '[';
    position: absolute;
    top: -25px;
    left: -62px;
    font-size: 80px;
    font-weight: normal;
    line-height: 90px;
    color: #e0e0e0;
    z-index: 0;

    @include max-to(xs) {
      font-size: 60px;
    }
  }

  &_slash::before {
    content: '/';
    font-weight: 500;
  }

  &_small {
    position: relative;

    &::after {
      content: ']';
      position: absolute;
      top: 0;
      right: -50px;
      font-size: 30px;
      line-height: 30px;
      color: $light-blue;
    }

    &-slash::after {
      content: '/';
      color: #e0e0e0;
    }
  }
}

.big-blue-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 83px;
  height: 150px;
  background-color: $blue;

  @include max-to(lg) {
    height: 120px;
  }

  @include max-to(xs) {
    height: 100px;
  }

  &_opac {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 275px;
    background-color: $light-blue;

    @include max-to(md) {
      padding-right: 20%;
    }
  }
}

.slick-slide,
figcaption,
figure{
  user-select: none;
  outline: none;
}

// Fefaul ScrollBar
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: $light-blue;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: $blue;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #115ae2;
}
