//*** M E D I A ***//
$xl: 1390px;
$lg: 1200px;
$md: 992px;
$sm: 767px;
$xs: 576px;
$ss: 380px;

$f_xl: 1440px;
$f_lg: 1199px;
$f_md: 992px;
$f_sm: 768px;
$f_xs: 576px;
$f_ss: 320px;

@mixin max-to($media) {
	@if $media == xl {
		@media only screen and (max-width: $xl) { @content; }
	}
	@else if $media == lg {
		@media only screen and (max-width: $lg) { @content; }
	}
	@else if $media == md {
		@media only screen and (max-width: $md) { @content; }
	}
	@else if $media == sm {
		@media only screen and (max-width: $sm) { @content; }
	}
	@else if $media == xs {
		@media only screen and (max-width: $xs) { @content; }
	}
	@else if $media == ss {
		@media only screen and (max-width: $ss) { @content; }
	}
}

@mixin min-from($media) {
	@if $media == f_xl {
		@media only screen and (min-width: $f_xl) { @content; }
	}
	@else if $media == f_lg {
		@media only screen and (min-width: $f_lg) { @content; }
	}
	@else if $media == f_md {
		@media only screen and (min-width: $f_md) { @content; }
	}
	@else if $media == f_sm {
		@media only screen and (min-width: $f_sm) { @content; }
	}
	@else if $media == f_xs {
		@media only screen and (min-width: $f_xs) { @content; }
	}
	@else if $media == f_ss {
		@media only screen and (min-width: $f_ss) { @content; }
	}
}

@include max-to(xl) {

}

@include max-to(lg) {

}

@include max-to(md) {

}

@include max-to(sm) {

}

@include max-to(xs) {

}

@include max-to(ss) {

}

@include min-from(f_xl) {

}

@include min-from(f_lg) {

}

@include min-from(f_md) {

}

@include min-from(f_sm) {

}

@include min-from(f_xs) {

}
@include min-from(f_ss) {

}

//*** F O N T S ***// eot,wof,ttf,svg
@mixin fontface($name, $file, $weight, $style) {
  @font-face {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;

		src: url('../fonts/roboto/#{$file}.eot');
		src: url('../fonts/roboto/#{$file}.eot?#iefix') format('embedded-opentype');
		src: url('../fonts/roboto/#{$file}.woff') format('woff');
		src: url('../fonts/roboto/#{$file}.ttf') format('truetype');
		src: url('../fonts/roboto/#{$file}.svg?#webfont') format('svg');
  }
}


// Example how to use it
// @include fontface(Roboto,RobotoSlab-Some,500,italic)
