// COLORS
$blue: #377dff;
$light-blue: #78a7ff;

$text-grey: #bbb;
$text-black: #121215;
$text-white: #ffffff;
$light-gray: #ededed;
$dark-light: #848484;

// FONTS
$Roboto: "Roboto", sans-serif;

// Other
$delay: .25s;
