footer.footer
	.container
		.row
			.col-sm-6.col-md-4.col-xl-5.mb-3.mb-md-0
				.footer__first-col
					a.footer__link.footer__link_light(href="#") Экономия за счет инноваций
					a.footer__link.footer__link_light(href="#") Весь RFID под одной крышей
					span.footer__copyright &#9400; RFIDtag.tech
			.col-sm-6.col-md-3.mb-3.mb-md-0
				.footer__second-col
					h3.footer__title Продукция
					nav
						ul.footer__nav
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Этиктки
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Метки на метал
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") RFID Антенны
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") RFID Инлеи
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Смарт-карты
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Индивидуальное проектирование
			.col-sm-6.col-md-3.col-xl-2.mb-3.mb-md-0
				.footer__third-col
					h3.footer__title Информация
					nav
						ul.footer__nav
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Технологии
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Применение
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Услуги
							li.footer__nav-item
								a.footer__link.footer__link_dark(href="#") Контакты	
			.col-sm-6.col-md-2.mb-3.mb-md-0
				.footer__forth-col
					a.footer__tel(href="tel:74885634487") +7 488 563 44 87
