doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		//- Load favicon 
		link(rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon")
		link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='favicon/favicon-16x16.png')
		link(rel='manifest', href='favicon/site.webmanifest')
		link(rel='mask-icon', href='favicon/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='msapplication-TileColor', content='#2d89ef')
		meta(name='theme-color', content='#ffffff')
		include ../layout/_mixins
		+styles("css/main.css","module/slick-carousel/slick/slick.css")
		//- [if lt IE 9]>
		//-<script src="module/html5shiv/es5-shim.min.js"></script>
		//-<script src="module/html5shiv/html5shiv.min.js"></script>
		//-<script src="module/html5shiv/html5shiv-printshiv.min.js"></script>
		//-<script src="js/plugins/respond.min.js"></script>
		//-<![endif]
		title
			block title 
	body.modal-bg
		include _header
		block content

		include ../templates/_footer
		include ../layout/_scripts


	
