header.header.navbar.navbar-dark
  .container
    .row.d-flex.justify-content-between
      .col-4.col-md-6.col-xl-5.d-flex.align-items-center
        .logo
          img(src="img/logo.png" alt="Logo")
        .logo__descr.text
          p Снижает стоимость, не качество    
      .col-8.col-md-6.col-lg-4.d-flex.align-items-center.justify-content-between
        .header__callback.d-flex.flex-column
          a.header__num(href="tel:74885634487") +7 488 563 44 87
          a.d-flex.align-items-center(href="tel:74885634487"): span.js-callback Обратный звонок
        .header__lang.d-flex.align-items-center
          span.header__lang-item.js-lang Ru
          span.header__lang-slash /
          span.header__lang-item.header__lang-item_chosen.js-lang Eng
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
nav.container-fluid.main-nav
  ul.row
    li.col-md-4.col-lg-3
      .main-nav__item 
        span.main-nav__item-text Экономия за счет инноваций
    li.col-md-4.col-lg-3
      .main-nav__item 
        span.main-nav__item-text Весь RFID под одной крышей
    li.col-md-2.col-lg-3
      .main-nav__item 
        ul.main-nav__submenu
          li.main-nav__submenu-item 
            a(href="#") Этикетки
          li.main-nav__submenu-item 
            a(href="#") Метки
          li.main-nav__submenu-item 
            a(href="#") RFID Антенны
          li.main-nav__submenu-item 
            a(href="#") RFID Инлеи
          li.main-nav__submenu-item 
            a(href="#") RFID Метки
          li.main-nav__submenu-item 
            a(href="#") Смарт-карты
          li.main-nav__submenu-item 
            a(href="#") Индивидуальное проектирование
        span.main-nav__item-text Продукция
    li.col-md-2.col-lg-3
      .main-nav__item 
        ul.main-nav__submenu
          li.main-nav__submenu-item 
            a(href="#") Технологии
          li.main-nav__submenu-item
            a(href="#") Применение
          li.main-nav__submenu-item
            a(href="#") Услуги
        span.main-nav__item-text Информация
        
nav.navbar.navbar-light.bg-light.main-nav__mobile
  #navbarSupportedContent.collapse.navbar-collapse.main-nav__mobile-collaps
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          | Экономия за счет инноваций
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Весь RFID под одной крышей
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Продукция
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='#') Этикетки
          a.dropdown-item(href='#') Метки
          a.dropdown-item(href='#') RFID Антенны
          a.dropdown-item(href='#') RFID Инлеи
          a.dropdown-item(href='#') RFID Метки
          a.dropdown-item(href='#') Смарт-карты
          a.dropdown-item(href='#') Индивидуальное проектирование
      li.nav-item.dropdown
        a#navbarDropdownMenuLink-2.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Информация
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink-2')
          a.dropdown-item(href='#') Технологии
          a.dropdown-item(href='#') Применение
          a.dropdown-item(href='#') Услуги
//- nav#navbarSupportedContent.container-fluid.main-nav.main-nav__mobile.collapse.navbar-collapse
//-   ul.row.navbar-nav.mr-auto
//-     li.col-md-4.col-lg-3.nav-item
//-       .main-nav__item 
//-         span.main-nav__item-text Экономия за счет инноваций
//-     li.col-md-4.col-lg-3.nav-item
//-       .main-nav__item 
//-         span.main-nav__item-text Весь RFID под одной крышей
//-     li.col-md-2.col-lg-3.nav-item.dropdown
//-       .main-nav__item 
//-         span#navbarDropdown.main-nav__item-text.nav-link(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Продукция
//-         ul.main-nav__submenu.dropdown-menu(aria-labelledby="navbarDropdown")
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") Этикетки
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") Метки
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") RFID Антенны
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") RFID Инлеи
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") RFID Метки
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") Смарт-карты
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") Индивидуальное проектирование
//-     li.col-md-2.col-lg-3.nav-item.dropdown-2
//-       .main-nav__item 
//-         span#navbarDropdown-2.main-nav__item-text.nav-link(data-toggle="dropdown-2" aria-haspopup="true" aria-expanded="false") Информация
//-         ul.main-nav__submenu.dropdown-menu(aria-labelledby="navbarDropdown-2")
//-           li.main-nav__submenu-item.nav-item 
//-             a(href="#") Технологии
//-           li.main-nav__submenu-item.nav-item
//-             a(href="#") Применение
//-           li.main-nav__submenu-item.nav-item
//-             a(href="#") Услуги


          
