.app-banner {
	background-image: url(../img/bg-app.png);
   	background-repeat: no-repeat;
   	background-size: cover;
   	padding-top: 1px;
}
.app-banner h1 {
	display: block;
	margin: 0;
	margin-left: -15px;
	margin-top: 58px;
    padding-bottom: 151px;
	max-width: 300px;
	padding-left: 67px!important;
	span {
		display: block;
	}
	@media only screen and (max-width: $xs) {
		margin-top: 36px;
		padding-bottom: 80px;
		padding-left: 30px;
		padding-right: 30px;
	}
}
.app-banner__links {
	background-color: $blue;
	padding-top: 31px;
	padding-bottom: 30px;
	@media only screen and (max-width: $lg) { 
		padding-bottom: 0;
	}
	&__items {
		justify-content:space-between;
		@media only screen and (max-width: $sm) {
			max-width: 470px;
			margin: 0 auto;
		}
		@media only screen and (max-width: $xs) { 
			max-width: none;
			padding: 0 30px;
			padding-top: 31px;
			padding-bottom: 35px;
			justify-content:center;
		}
		&__item {
			max-width: 185px;
			width: 100%;
			color: $text-white;
			font-family: $Roboto;
			font-size: 18px;
			font-weight: bold;
			line-height: 20px;
			text-align: center;
			padding-top: 70px;
			background-repeat: no-repeat;
			background-position: top center;
			transition:.3s ease;

			@media only screen and (max-width: $lg) {
				margin-bottom: 35px;
			}

			@media only screen and (max-width: $xs) {
			margin: 0 20px;
			margin-bottom: 35px;
			}

			&:hover {
				opacity: .7;
				color: $text-white;
			}
		}
	}
}
.logistick {
	background-image: url(../img/app1.svg);
}
.banks {
	background-image: url(../img/app2.svg);
}
.health {
	background-image: url(../img/app3.svg);
}
.electron {
	background-image: url(../img/app4.svg);
}
.goverment {
	background-image: url(../img/app5.svg);
}
.telecom {
	background-image: url(../img/app6.svg);
}

.app-table {
	margin-top: 120px;
	margin-bottom: 61px;
	@media only screen and (max-width: $md) {
		overflow: scroll;
	}
	&__top {
		justify-content:space-between;
		padding-bottom: 22px;
		margin-bottom: 18px;
		border-bottom:2px solid $blue;
		@media only screen and (max-width: $md) { 
			width: 720px;
			padding-bottom: 20px;
			margin-bottom: 14px;
		}
		&__item {
			width: 25%;
			padding-left:20px;
			padding-right: 20px;
			&__span {
				color: $blue;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 0.7px;
			}
		}
	}
	&__content {
		justify-content:space-between;
		@media only screen and (max-width: $md) { 
			width: 720px;
		}
		&__item {
			width: 25%;
			padding:20px;
			&__p {
				color: $text-black;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				margin-bottom: 20px;
			}
			&__a {
				color: #1259dd!important;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				text-decoration: underline!important;
				margin-bottom: 20px;
				display: block;
				cursor: pointer;
				transition:.2s ease-in-out;
				&:hover {
					opacity: .7;
				}
			}
		}
	}
	&__content:nth-child(2n+1) {
		background-color: #f5f8ff;
	}
}
.slashbefore {
	position: relative;
	&:before {
		position: absolute;
		content: "/";
		width: 12px;
		height: 25px;
		color: #e0e0e0;
		font-family: $Roboto;
		font-size: 30px;
		font-weight: normal;
		left: -22px;
	}
}
