.banner-innovation__bg {
	background-image: url(../img/bg-innovation.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.simple-a {
	background-image: url(../img/inn1.svg);
}
.assort-a {
	background-image: url(../img/inn2.svg);
}
.nonagent-a {
	background-image: url(../img/inn3.svg);
}
.certificate-a {
	background-image: url(../img/inn4.svg);
}

.inn-banner__links__items{
	margin: 0 -15px;

	@include max-to(lg) {
		margin: 0;
	}
}

.inn-banner__links__items a {
	display: block;
	max-width: 195px;
	margin-left: auto;
	margin-right: auto;
}
// ****
.innovations-parts {

	@media only screen and (max-width: $xs) {
		padding: 0;
	}

}
.innovations-parts__simple-block {
	margin-top: 113px;
	margin-bottom: 160px;
	@media only screen and (max-width: $md) {
		margin-top: 60px;
		margin-bottom: 80px;
	}
	&__items {
		// justify-content:space-between;
		margin-bottom: 60px;
		&__item {
			// max-width: 352px;
			width: 100%;
			padding-left: 93px;
			position: relative;
			@media only screen and (max-width: $lg) {
				width: 33.33%;
			}
			@media only screen and (max-width: $md) {
				width: 100%;
				margin-bottom: 35px;
				padding-left: 35px;
			}
			&:before {
				font-size: 60px;
				width: 23px;
				height: 47px;
				top: -37px;
				left: 20px;
				@media only screen and (max-width: $lg) {
					font-size: 46px;
				    top: -15px;
				    left: 0px;
				}
			}
			span {
				color: $blue;
				font-family: $Roboto;
				font-size: 20px;
				font-weight: 400;
				line-height: 25px;
				display: block;
				margin-bottom: 15px;
				@media only screen and (max-width: $md) {
					margin-bottom: 5px;
				}
			}
			p {
				color: #b2b2b2;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
			}
		}
	}
}

.innovations-parts__simple-block__infographic {
	padding: 30px 30px;
	background-color: #f5f8ff;
	position: relative;
	justify-content:space-between;
	align-items:center;
	@media only screen and (max-width: $md) {
		justify-content:space-around;
	}
	@media only screen and (max-width: $sm) {
		justify-content:space-between;
	}
	@media only screen and (max-width: $xs) {
		flex-direction:column;
	}
	&__graph {
		max-width: 220px;
		min-height: 100px;
		width: 100%;
		background-image: url(../img/graph.svg);
		background-size: 119px 100px;
		background-repeat: no-repeat;
		padding-top: 12px;
		display: flex;
		align-items: flex-end;
		flex-direction:column;
		position: relative;
		@media only screen and (max-width: $xs) {
			margin-bottom: 25px;
		}
		&__text {
			margin-right: -10px;
			p {
				color: $text-black;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: 700;
				line-height: 25px;
				text-transform: uppercase;
				letter-spacing: 0.7px;
			}
		}
		&__text-abs {
			position: absolute;
			max-width: 55px;
			width: 100%;
			
			top: 33px;
			left: 23px;		
			p {
				color: $blue;
				font-family: $Roboto;
				font-size: 14px;
				font-weight: normal;
				line-height: 15px;
				text-align: center;
			}
		}
	}
	&__illustration {
		max-width: 540px;
		width: 100%;
		min-height: 355px;
		position: absolute;
		left: 50%;
		margin-left: -267px;
		bottom: -36px;
		background-image: url(../img/simple.png);
		background-size: cover;
		display: flex;
		justify-content:center;
		align-items: flex-end;
		@media only screen and (max-width: $md) {
			display: none;
		}
		p {
			max-width: 130px;
			color: $blue;
			font-family: $Roboto;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			text-align: center;
			margin-top: -20px;
		}
	}
	&__text {
		max-width: 220px;
		width: 100%;
		span {
			display: block;
			color: $text-black;
			font-family: $Roboto;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 0.7px;
			margin-bottom: 8px;
		}
		p {
			color: $text-black;
			font-family: $Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;			
		}
		span.percents {
			display: initial;
			color: #3271e6;
			font-weight: normal;
		}
	}
}

.innovations-parts__assortment-block {
	background-image: url(../img/bg-assort.png);
	background-size: cover;
	padding:64px 105px 170px 91px; 
	@media only screen and (max-width: $md) { 
		padding: 64px 64px 1000px 64px;
	}
	@media only screen and (max-width: $xs) { 
		padding: 64px 64px 1025px 64px;
	}
}
.innovations-parts__assortment-block__h2 {
	justify-content:space-between;
	width: 100%;
	&-h2 {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	    font-family: $Roboto;
	    font-size: 38px;
	    color: $text-white;
	    line-height: 1;

			@include max-to(md) {
				font-size: 42px;
				line-height: 48px;
			}

			@include max-to(xs) {
				font-size: 36px;
				line-height: 42px;
			}

			@include max-to(ss) {
				font-size: 28px;
				line-height: 36px;
			}

	    span {
		    display: block;
		    color: #78a7ff;
		    font-family: $Roboto;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 1;
		}
	}
	&-p {
		position: relative;
		padding-left: 64px;

		@include max-to(sm) {
			font-size: 26px;
			line-height: 28px;
		}

		@media only screen and (max-width: $xs) {
			padding-left: 30px;
		}

		&:before {
			width: 30px;
			height: 62px;
			color: #78a7ff;
			font-size: 80px;
			font-weight: bold;
			top: 0;
			left: 0;
			@media only screen and (max-width: $xs) {
				font-size: 50px;
			}
		}

		span {
			max-width: 360px;
			color: $text-white;
			font-family: $Roboto;
			font-size: 25px;
			font-weight: 400;
			line-height: 35px;
			margin-top: 17px;

			@media only screen and (max-width: $sm) { 
			    font-size: 23px;
    			line-height: 28px;
    		}

    		@media only screen and (max-width: $xs) {
    			font-size: 20px;
    			line-height: 23px;
    		} 
		}
	}
}
.innovations-parts__assortment-block__items {
	padding: 0 125px 0 125px;
	justify-content:space-between;
	margin-top: -110px;
	margin-bottom: 120px;

	@media only screen and (max-width: $lg) { 
		padding: 0 50px 0 50px;
	}

	@media only screen and (max-width: $md) { 
		flex-direction:column;
		align-items:center;
		margin-top: -945px;
	}

	@media only screen and (max-width: $xs) { 
		margin-top: -965px;
		padding: 0 30px;
	}

	&__item {
		max-width: 255px;
		padding: 128px 25px 38px 25px;
		background-color: $text-white;
		border-bottom:2px solid $blue;
		text-align: center;

		@media only screen and (max-width: $md) {
			margin-bottom: 35px;
			max-width: 480px;
		}

		p {
			color: $text-black;
			font-family: $Roboto;
			font-size: 16px;
			line-height: 20px;
			font-weight: normal;
			span {
				font-weight: bold;
				color: $blue;
			}
		}
	}
	&__item.first {
		background-image: url(../img/ass1.svg);
		background-repeat: no-repeat;
		background-position: center 36px;
	}
	&__item.second {
		background-image: url(../img/ass2.svg);
		background-repeat: no-repeat;
		background-position: center 36px;
	}
	&__item.third {
		background-image: url(../img/ass3.svg);
		background-repeat: no-repeat;
		background-position: center 36px;
	}

}

.innovations-parts__nonagent-block__label {
	flex-direction:row-reverse;
}
.innovations-parts__nonagent-block .technologies__label-content_left p {
    max-width: 360px;

	@include max-to(md) {
		max-width: 100%;
	}
}
.innovations-parts__certificate-block {
	justify-content:space-between;
	align-items:center;
	margin-bottom: 125px;
	@media only screen and (max-width: $md) {
		flex-direction:column-reverse;
		margin-bottom: 70px;
	}
	&__certificates {
		display: flex;
		max-width: 540px;
		width: 100%;
		justify-content:space-between;
		&__item {
			@media only screen and (max-width: $xs) {
				width: 33.33%;
				padding: 0 15px;
			}
		}
	}
	&__content {
		padding: 0 27px 0 0;
		box-sizing:border-content;
		@media only screen and (max-width: $lg) {
			padding: 0;
		}
		@media only screen and (max-width: $md) {
			margin-bottom: 35px;
			h3 {
				max-width: none;
			}
			p {
				max-width: none;
			}
		}
	}
	&__line {
	    width: 100px;
	    height: 2px;
	    background-color: #377dff;
	    @media only screen and (max-width: $lg) {
	    	width: 35px;
	    }
	    @media only screen and (max-width: $md) {
	    	display: none;
	    }
	}
}

.innovations__label-content_left {
	@media only screen and (max-width: $lg) {
		padding: 75px 0 0 40px;
	}
}
.advantages__label.innovations__label {
	    justify-content: flex-end;
	@media only screen and (max-width: $md) {
		flex-direction: column-reverse;
	}
}

.innovations__label-img_left{
	margin-left: 75px;

	@include max-to(lg) {
		margin-left: 15px;
	}

	@include max-to(md) {
		margin-left: 0;
	}
}

.innovations__label-img_left::after{
	width: 100px;
	right: auto;
	left: -50px;

	@include max-to(lg) {
		width: 50px;
		right: auto;
		left: -30px;
	}
}

.innovations__bracket_slash::before{
	color: #e0e0e0;
	font-size: 80px;
	left: -95px;
	bottom: 0;
	position: absolute;
	z-index: 0;

	@include max-to(lg) {
		font-size: 60px;
		line-height: 1;
		left: -45px;
	}

	@include max-to(md) {
		font-size: 46px;
		line-height: 1;
		left: -15px;
	}
}