.main-height{
  height: 360px;
  position: relative;
  z-index: 1;

  &:before{
    content: '';
    width: 181px;
    height: 265px;
    background: url("../img/pic-head.png") no-repeat 0;
    position: absolute;
    top: -5.5%;
    right: 23%;
    z-index: 2;

    @include max-to(xs) {
      right: 0%;
      opacity: 0.85;
      z-index: 0;
    }
  }
}

.banner-labels{

  &__bg{
    background-image: url(../img/bg/bg-head-label.png);
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}

.labels__main-height{
  height: 339px;
  position: relative;
  z-index: 0;
}

.label-advantages__h2{
  letter-spacing: -0.0284em;
  margin-bottom: 15px;
}

.label-proposition__tools{

  @include max-to(md) {
    padding: 0;
    margin-bottom: 20px;
  }

  & .title-form:before{

    @include max-to(xs) {
      left: 0;
    }
  }
}

.label-eco__advantages-tools{

  @include max-to(md) {
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.tabs-item{

  &__tools{
    width: 100%;
    background-color: $light-blue;
    padding: 28px 0;
    margin-bottom: 110px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include max-to(md) {
      margin-bottom: 60px;
    }
  }

  &__card{
    padding: 0 60px;

    @include max-to(sm) {
      padding: 0;
    }
    @include max-to(xs) {
      margin-bottom: 1em;
    }
  }

  &__icon{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon-nides{
    width: 51px;
    height: 51px;
    background: url("../img/icon-nides.png") no-repeat center;
  }

  &__icon-eco{
    width: 50px;
    height: 50px;
    background: url("../img/icon-eco.png") no-repeat center;
  }

  &__icon-serf{
    width: 48px;
    height: 54px;
    background: url("../img/icon-serf.png") no-repeat center;
  }
  
  &__title{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
}

.tabs-items{

  &__tools{
    margin-bottom: 87px;

    @include max-to(md) {
      margin-bottom: 0;
    }
  }
}

.eos-card{

  &__tools{
    max-width: 138px;
    margin: 0 auto;

    @include max-to(sm) {
      margin-bottom: 2em;
    }
  }

  &__icon{
    margin-bottom: 48px;
  }

  &__icon-img{
    min-width: 36px;
    max-width: 83px;
    min-height: 197px;
    background-position: center 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  &__number{
    color: #121215;
    font-family: $Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.0824em;
    text-transform: uppercase;
    margin-bottom: 15px;

    display: flex;
    justify-content: flex-start;

    & span{
      color: #377dff;
      margin-left: 8px;
      letter-spacing: -0.0324em;
    }
  }

  &__number_bracket{

    &::before{
      font-size: 29px;
      line-height: 1;
      top: -10px;
      left: -19px;

      @include max-to(xs) {
        left: -10px;
      }
    }
  }

  &__content{
    color: #121215;
    font-size: 16px;
    font-family: $Roboto;

    font-weight: 400;
    line-height: 20px;
  }

  &__title{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }

    & span{
      color: #b2b2b2;
      font-size: 14px;
    }
  }
}

.btn-more{

  &__tools{
    padding-left: 20%;
    overflow: hidden;

    @include max-to(md) {
      padding-left: 0;
    }
  }

  &__tools-sm{

    @include max-to(sm) {
      margin-top: 50%;
    }
  }

  &__height{
    padding-left: 30px;
    padding-bottom: 0;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include max-to(xs) {
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  &__height-sm{

    @include max-to(sm) {
      padding-left: 15px;
    }

    a:after{

      @include max-to(sm) {
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__content{
    color: #121215;
    font-family: $Roboto;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    width: 100%;
    padding-right: 80px;
    padding-left: 60px;
    padding-top: 35px;
    letter-spacing: 0.0224em;

    @include max-to(lg) {
      padding-right: 30px;
      padding-left: 15px;
    }

    @include max-to(md) {
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 1.124em;
      font-size: 24px;
      line-height: 28px;
      max-width: 420px;
      margin: 0 auto;
      margin-bottom: 60px;
    }

    @include max-to(xs) {
      font-size: 20px;
      line-height: 24px;
    }

    @include max-to(ss) {
      font-size: 20px;
      line-height: 24px;
      padding-top: 0;
    }

    & span{
      margin-left: 5px;
    }
  }
}

.label-eco{

  &__advantages-tools{
    margin-top: 30px;
    margin-bottom: 100px;
  }

  &__advantages-img{
    padding-top: 25px;
    padding-left: 20px;

    @include max-to(md) {
      max-width: 70%;
    }
    @include max-to(sm) {
      max-width: 100%;
      padding: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include max-to(xs) {
      margin-bottom: 1em;
    }

    &:after{
      right: -29px;
      top: 28%;

      @include max-to(lg) {
        width: 50px;
        right: 2.5%;
      }
      @include max-to(md) {
        right: -50px;
      }
      @include max-to(sm) {
        display: none;
      }
    }
  }

  &__tools{
    padding-top: 110px;

    @include max-to(sm) {
      padding-top: 60px;
    }
  }

  &__advantages-content{
    padding-top: 0;
    padding-left: 77px;

    @include max-to(lg) {
      padding-left: 0;
      padding-right: 0;
    }

    @include max-to(md) {
      padding-top: 0;
    }

    @include max-to(xs) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      margin-bottom: 1em;
    }
  }

  & .advantages__label__content__h3{

    @include max-to(ss) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.label-serf{

  &__title{
    margin-bottom: 80px;

    @include max-to(md) {
      margin-bottom: 60px;
    }
  }

  & .label-eco__advantages-content{
    padding-left: 40px;

    @include max-to(xs) {
      padding-left: 0;
    }
  }

  &__advantages-img{
    padding-top: 13px;
    padding-left: 13px;

    @include max-to(md) {
      max-width: 100%;
      margin: 0 auto;
    }
    @include max-to(xs) {
      max-width: 100%;
      margin-bottom: 1em;
      padding-top: 0;
      padding-left: 0;
    }

    &:after{
      left: -27.5%;
      top: 53%;

      @include max-to(lg) {
        width: 50px;
        left: -10.5%;
      }
      @include max-to(md) {
        left: auto;
        right: -50px;
      }
      @include max-to(sm) {
        display: none;
      }
    }
  }

  & .advantages__label__content__h3{

    @include max-to(ss) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.advantages__label_left{

  &:after{
    right: unset;
    left: 0;
  }
}

.advantages__label{
  position: relative;
  z-index: 1;

  &_slash {

    &::before {
      font-size: 64px;
      line-height: 1;
      top: 2px;
      left: unset;
      right: 13%;
      position: absolute;
      z-index: 1;
      color: #e0e0e0;

      @include max-to(md) {
        right: 0;
        top: 38px;
      }
      @include max-to(ss) {
        top: 0;
      }
    }
  }
}

.label-proposition{

  &__tools{
    padding-top: 40px;
    margin-bottom: 80px;
    overflow: hidden;
  }

  &__btn-more{
    padding-left: 11%;
  }
}