.main-page {
  font-family: $Roboto;

  &__content {
    margin-bottom: 146px;
    padding-top: 144px;

    @include max-to(lg) {
      padding-top: 100px;
    }

    @include max-to(md) {
      margin-bottom: 100px;
      padding-top: 70px;
    }

    @include max-to(xs) {
      padding-top: 50px;
    }
  }

  // Slider
  &__slider {
    position: relative;

    &-item {
      background-color: $blue;
    }
  }

  .carousel-control {

    &__arrow {
      background-image: url('../img/icons/arrow-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all $delay;

      &-wrapper {
        right: auto;
        top: auto;
        bottom: 65px;
        width: 20px;
        height: 20px;

        @include max-to(lg) {
          bottom: 50px;
        }

        @include max-to(ss) {
          bottom: 40px;
        }
      }
    }

    &-prev-icon {
      transform: rotate(180deg);
    }

    &-prev {
      left: 38%;

      @include max-to(sm) {
        left: 5%;
      }
    }

    &-next {
      left: 42%;

      @include max-to(sm) {
        left: 15%;
      }
    }
  }
}

.slider-item {

  &_left {
    width: 46%;

    @include max-to(sm) {
      width: 100%;
    }

    .big-blue-button {
      @include max-to(sm) {
        display: none;
      }
    }
  }

  &_right {
    width: 54%;

    @include max-to(sm) {
      width: 100%;
    }
  }

  &__img {
    position: relative;
    height: 538px;
    overflow: hidden;

    @include max-to(xl) {
      height: 350px;
    }

    @include max-to(md) {
      height: 300px;
    }

    @include max-to(ss) {
      height: 200px;
    }


    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 8px;
      width: 190px;
      background-color: $blue;
    }

    img {
      width: 100%;
      min-height: 100%;
    }

    .big-blue-button {
      @include max-to(sm) {
        display: none;
      }
    }
  }

  &__content {
    padding: 117px 23% 107px 162px;
    height: 538px;
    background-color: $text-white;
    overflow: hidden;

    @include max-to(xl) {
      padding: 70px 100px;
      height: 350px;
    }

    @include max-to(md) {
      padding: 35px 80px;
      height: 300px;
    }

    @include max-to(sm) {
      height: 250px;
    }

    &-link {
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      color: #d9d9d9;

      @include max-to(md) {
        font-size: 14px;
      }
    }

    &-title {
      position: relative;
      font-size: 80px;
      line-height: 90px;
      font-weight: bold;
      color: $text-black;

      @include max-to(xl) {
        font-size: 60px;
        line-height: 70px;
      }

      @include max-to(lg) {
        font-size: 42px;
        line-height: 52px;
      }

      @include max-to(ss) {
        font-size: 38px;
        line-height: 44px;
      }

      &::before {
        content: '/';
        position: absolute;
        top: 0;
        left: -66px;
        font-size: 80px;
        font-weight: 500;
        line-height: 90px;
        color: #e0e0e0;

        @include max-to(md) {
          font-size: 60px;
          line-height: 70px;
          left: -45px;
        }
      }
    }
  }

  &__more {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: $text-white;

    &:hover {
      color: $text-white;

      &::after {
        right: -52px;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -42px;
      width: 14px;
      height: 14px;
      background-image: url('../img/icons/arrow-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all $delay;
    }
  }
}
// End Slider

// Articles
.article {
  margin-top: 100px;
  font-family: $Roboto;

  @include max-to(lg) {
    margin-top: 70px;
  }

  @include max-to(sm) {
    margin-top: 40px;
  }

  @include max-to(xs) {
    margin-top: 20px;
  }

  &__content {
    padding-top: 78px;

    @include max-to(md) {
      padding-top: 0;
    }

    &-title {
      font-size: 30px;
      font-weight: normal;
      line-height: 40px;
      color: $text-black;
    }

    &-text {
      position: relative;
      margin-top: 57px;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      color: #b2b2b2;

      @include max-to(md) {
        margin-top: 30px;
      }

      @include max-to(xs) {
        margin-top: 15px;
      }
    }

    &-num {
      position: absolute;
      top: 0;
      left: -124px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 500;
      color: #e0e0e0;

      @include max-to(lg) {
        left: -115px;
      }

      @include max-to(md) {
        display: none;
      }

      &_right {
        left: auto;
        right: -124px;

        @include max-to(lg) {
          left: auto;
          right: -115px;
        }
      }
    }
  }

  &__img {
    height: 400px;
    overflow: hidden;

    @include max-to(lg) {
      height: 490px;
    }

    @include max-to(ss) {
      height: 240px;
    }

    img {
      width: 100%;
      min-height: 100%;

      @include max-to(md) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__big-blue-button {
    position: relative;
    padding-right: 83px;
    z-index: 7;
  }

  &__slider-item__more {

    &::after {
      transform: rotate(90deg) translateX(-50%);

      @include max-to(ss) {
        right: -36px;
      }
    }

    &.open::after {
      transform: rotate(-90deg) translateX(50%);
    }
  }

  &__more-product {
    position: relative;
    height: 100%;
  }
}

.more-products {
  position: relative;
  display: block;

  &__wrapper {
    position: absolute;
    top: -150px;
    display: block;
    visibility: hidden;
    width: 100vw;
    min-height: 550px;
    background-color: $light-blue;
    z-index: 5;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: center top;
    transform: scaleY(0);

    @include max-to(lg) {
      top: -120px;
    }

    @include max-to(sm) {
      min-height: 480px;
    }

    @include max-to(xs) {
      top: -100px;
      padding-bottom: 30px;
      min-height: 400px;
    }

    &.open {
      visibility: visible;
      transform: scaleY(1);
    }
  }

  &__items {
    padding-top: 180px;
    height: 160px;

    @include max-to(sm) {
      padding-top: 140px;
    }

    @include max-to(xs) {
      height: auto;
    }
  }

  &__item {
    position: relative;
    width: 20%;
    height: 160px;
    cursor: pointer;

    @include max-to(xs) {
      margin-bottom: 40px;
      width: 43%;
      height: 100px;
    }

    img {
      width: 100%;
      min-height: 100%;
    }
  }

  &__figure {
    position: relative;
    overflow: hidden;
    height: 100%;

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $blue;
      transform: scale(0);
      transition: all $delay;
    }

    &:hover &-overlay {
      transform: scale(1);
    }

    &:hover + div {
      margin-top: 45px;

      @include max-to(xs) {
        margin-top: 20px;
      }

      &::before {
        height: 40px;
      }
    }

    &-more {
      font-size: 16px;

      @include max-to(xs) {
        font-size: 12px;
      }

      &::after {
        right: -20px;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__figcaption {
    position: relative;
    margin-top: 35px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: $text-white;
    transition: all $delay;

    @include max-to(sm) {
      font-size: 14px;
      line-height: 18px;
    }

    @include max-to(xs) {
      margin-top: 10px;
      font-size: 11px;
      line-height: 15px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -57px;
      left: 24px;
      width: 2px;
      height: 0;
      background-color: $text-white;
      transition: all $delay;

      @include max-to(xs) {
        top: -46px;
      }
    }
  }
}
// End Articles

// Modal Callback
.modal-callback {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 900;
  transition: all 1s;

  &.open {
    display: flex;
    animation: fadeInFlex 0.5s alternate both;
  }

  &.open &__wrapper {
    animation: fromLeft 1s alternate both;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &.close {
    animation: fadeOutFlex 0.5s alternate both;
  }

  &.close &__wrapper {
    animation: toRight 2s 0.5s alternate both;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
  }

  &__wrapper {
    position: relative;
    margin: auto;
    padding: 30px 20px;
    width: 400px;
    min-height: 370px;
    background-color: $text-white;
    z-index: 999;
  }

  &__title {
    width: 250px;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    color: $text-black;
  }

  &__form {
    margin-top: 30px;
  }

  &__input-group {
    width: 100%;

    @include max-to(xs) {
      width: 100%;
      margin-bottom: 0;
    }

    input {
      max-width: 100%;

      @include max-to(md) {
        max-width: 100%;
      }
    }
  }

  input.modal-callback__send {
    margin-top: 50px;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 60px;
    background-color: $light-blue;
    color: $text-white;
    transition: all $delay;

    &:hover {
      background-color: $blue;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../img/icons/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: all $delay;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}
