.one-roof {

  .one-roof__label-p {
    max-width: 315px;
  }

  .technologies__label-content_left {
    padding: 75px 100px 0 0;
  }

  .bracket::before {
    left: -82px;
    font-size: 60px;
    line-height: 90px;
    font-weight: normal;
  }

  &__bg {
    background-image: url('../img/bg-specifications.png');
  }

  .fool-loop {
    background-image: url('../img/icons/1.svg');
  }

  .free-examples {
    background-image: url('../img/icons/2.svg');
  }

  .scalable-production {
    background-image: url('../img/icons/3.svg');
  }

  .our-partners {
    background-image: url('../img/icons/4.svg');
  }

  .inn-banner__links__items a {
    @include max-to(md) {
      max-width: 50%;
    }

    @include max-to(xs) {
      max-width: 195px;
    }
  }

  .technologies__label-content_left {
    padding-top: 50px;

    @include max-to(ss) {
      padding: 50px 10px 0 0;
    }
  }
}

.partners-map {
  margin-bottom: 116px;

  @include max-to(xs) {
    margin-bottom: 55px;
  }

  &__title {
    font-weight: bold;
    color: $text-black;

    @include max-to(md) {
      margin-bottom: 0;
    }

    @include max-to(ss) {
      font-size: 28px;
      line-height: 36px;
    }

    span::before {
      content: '04';
      color: #e0e0e0;
    }
  }

  &__wrapper {
    margin-bottom: 78px;
    min-height: 572px;
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include max-to(md) {
      margin-bottom: 0;
    }

    @include max-to(sm) {
      min-height: 350px;
    }

    @include max-to(ss) {
      min-height: 250px;
    }
  }

  &__brands-item {
    cursor: pointer;
    transition: all $delay;

    &:hover {
      transform: scale(0.9);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.loop-section {
  min-height: 600px;

  .container {
    position: relative;
  }

  &__title {
    margin-top: 112px;
    margin-bottom: 44px;

    @include max-to(md) {
      margin-top: 50px;
    }

    @include max-to(ss) {
      margin-top: 35px;
    }
  }

  &__bg {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 241px;
    background-color: $blue;
  }

  &__wrapper {
    margin-bottom: 93px;
    padding: 50px 40px 0 40px;

    @include max-to(md) {
      margin-bottom: 0;
    }

    @include max-to(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item {

    @include max-to(lg) {
      margin-bottom: 30px;
    }

    @include max-to(xs) {
      padding: 0 10px;
    }

    &-name {
      position: relative;
      padding-left: 33px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: $text-white;

      @include max-to(ss) {
        margin-left: 15px;
        padding-left: 0;
        font-size: 14px;
        line-height: 18px;
      }

      span {
        position: absolute;
        top: -10px;
        left: 0;
        font-size: 27px;
        font-weight: 500;
        line-height: 30px;
        color: $light-blue;

        @include max-to(ss) {
          top: -7px;
          left: -25px;
          font-size: 20px;
          line-height: 25px;
        }
      }
    }

    &-date {
      display: inline-block;
      margin-bottom: 28px;
      padding-left: 33px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: $light-blue;

      @include max-to(ss) {
        margin-left: 15px;
        margin-bottom: 18px;
        padding-left: 0;
      }
    }

    &-img {
      height: 160px;
      overflow: hidden;

      @include max-to(ss) {
        height: 125px;
      }
    }

    img {
      width: auto;
      height: 160px;

      @include max-to(xs) {
        width: 100%;
        height: auto;
      }
    }

    &-descr {
      margin-top: 30px;
      font-size: 14px;
      line-height: 35px;
      font-weight: normal;
      color: $text-black;

      @include max-to(lg) {
        margin-top: 3px;
      }

      @include max-to(ss) {
        font-size: 12px;
        line-height: 25px;
      }
    }
  }

  &__list {
    position: relative;
    margin-left: 80%;
    width: 200px;

    @include max-to(lg) {
      margin-left: 0;
      width: 80%;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -10px;
      top: -80px;
      width: 1px;
      height: 127px;
      background-color: $blue;

      @include max-to(lg) {
        display: none;
      }
    }

    &-item {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        left: 22px;
        bottom: -5px;
        background-image: url('../img/icons/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .col-md-4:nth-child(n + 4) .loop-section__item-name {
    @include max-to(lg) {
      color: $light-blue;
    }
  }

  .col-md-4:nth-child(n + 3) .loop-section__item-name {
    @include max-to(ss) {
      color: $light-blue;
    }
  }
}

.free-samples {
  margin-bottom: 120px;

  @include max-to(ss) {
    margin-bottom: 60px;
  }

  &__text {
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;

    @include max-to(xs) {
      font-size: 22px;
      line-height: 28px;
    }

    @include max-to(ss) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
