

.banner-specifications__bg{
   background-image: url(../img/bg-specifications.png);
   background-repeat: no-repeat;
	background-position-x: 98%;
   &__span {
   	display: block;
   }
 }
.specifications-block__pagination {
	margin-bottom: 133px;
	@media only screen and (max-width: $md) {
		margin: 0 auto;
		margin-bottom: 90px;
	}
	@media only screen and (max-width: $md) { 
		padding: 0 30px;
	}
	&__ul {
		justify-content: flex-end;
		@media only screen and (max-width: $xs) { 
			justify-content: center;
		}
		&__li {
			width: auto;
			padding-top: 66px;
			padding-bottom: 66px;
			padding-left: 25px;
			padding-right: 25px;
			color: $blue;
			font-family: $Roboto;
			font-size: 20px;
			font-weight: bold;
			line-height: 1;
			cursor: pointer;
			transition:.3s ease-in-out;
			&:hover {
				opacity: .7;
			}
			@media only screen and (max-width: $md) {
				padding-top: 35px;
				padding-bottom: 35px;
				padding-left: 17px;
				padding-right: 17px;
			}
			@media only screen and (max-width: $sm) {
				padding-top: 18px;
				padding-bottom: 18px;
				padding-left: 9px;
				padding-right: 9px;
			}
		}
	}
}
.specifications-block__pagination__ul__li.active {
	padding-left: 70px;
	padding-right: 70px;
	background-color: $blue;
	color: $text-white;
	cursor: inherit;
	&:hover {
		opacity: 1;
	}
	@media only screen and (max-width: $md) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media only screen and (max-width: $sm) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.specifications-block__pagination__ul__li.after-active {
	background-color: $light-blue;
	color: $text-white;
}

.specifications-block__items {
	justify-content:space-between;
	flex-wrap:wrap;
	@media only screen and (max-width: $lg) { 
		justify-content:space-around;
	}
	&__item {
		max-width: 255px;
		width: 100%;
		margin-bottom: 76px;
		@media only screen and (max-width: $xs) {
			margin-bottom: 40px;
		}
		&__img {
			max-height: 145px;
			img {
				width: 100%;
				height:100%;
				object-fit:cover;
				max-height: 147px;
			}
		}
		&__content {
			margin-top: 53px;
			padding-left: 30px;
			@media only screen and (max-width: $xs) {
				margin-top: 30px;
			}
			&__title {
				margin: 0;
				margin-bottom: 14px;
				color:$blue;
				font-family: $Roboto;
				font-size: 30px;
				font-weight:normal;
				color: $text-black;
				line-height: 1;
				position: relative;
				@media only screen and (max-width: $xs) {
					margin-bottom: 15px;
				}
					&:before {
					position: absolute;
					content: "[";
					width: 6px;
					height: 29px;
					color: #e0e0e0;
					font-family: $Roboto;
					font-size: 30px;
					font-weight: bold;
					left: -31px;
    				top: -14px;
				}
				span {
					color: $blue;
				}
	
			}
			&__descriptions {
				margin: 0;
				margin-bottom: 16px;
				@media only screen and (max-width: $xs) {
					margin-bottom: 15px;
				}
				p {
					font-family: $Roboto;
					color:$text-black;
					font-size: 14px;
					font-weight: normal;
					line-height: 19.99px;
				}
				span {
					color: #b2b2b2;
				}
			}
			&__descriptions:last-child {
				margin-bottom: 0;
			}
		}
	}
}



