.banner-sticker {
	margin-top: 23px;
	padding-top: 37px;
	background-image:url(../img/bg-sticker.png); 
	background-position: top right;
	background-repeat:no-repeat; 
	@media only screen and (max-width: $md) {  
		background-position: 191px top;
	}
	@media only screen and (max-width: $sm) {  
		background-position: -8px -17px;
		padding-top: 10px;

	}
}


.banner-sticker__block { 
	margin-bottom: 125px;
	padding-left: 67px!important;
	// margin-left: 61px;
	@media only screen and (max-width: $sm) {
		margin-bottom: 40px;
	}
	&__h1 {
		margin: 0;
		margin-bottom: 30px;
		position: relative;
		@media only screen and (max-width: $sm) {
			margin-bottom: 20px;
		}
		&:before {
			position: absolute;
			content: "/";
			width: 30px;
			height: 62px;
			color: #e0e0e0;
			font-family: $Roboto;
			font-size: 80px;
			font-weight: 500;
			left: -52px;
			@media only screen and (max-width: $xs) {
				font-size: 46px;
			    left: -33px;
			}
		}
	}
	&__p {
		max-width: 370px;
	}
}

.advantages {
	&__h2 {
		justify-content:center;
		font-family: $Roboto;
		font-size: 38px;
		font-weight: bold;
		line-height: 45px;
		color: $text-black;
		display: flex;
		align-items:flex-start;
		line-height: 1;
		margin-bottom: 73px;
		@media only screen and (max-width: $sm) {
			margin-bottom: 40px;
		}
		span {
			display: block;
			color: #e0e0e0;
			font-family: $Roboto;
			font-size: 20px;
			font-weight: 400;
			line-height: 1;
		}
	}
}

.advantages__items {

	&__item {
		justify-content:center;
		text-align: center;
		background-color: #377dff;
		display: flex;
		justify-content:center;
		padding-top: 123px;
		padding-bottom: 27px;
		padding-left: 15px;
		padding-right: 15px;
		width: 	100%;
		max-width: 	350px;

		@media only screen and (max-width: $lg) { 
			max-width: 	305px;
		}
		@media only screen and (max-width: $md) {  
			max-width: 362px;
			margin: 0 auto;
			margin-bottom: 40px;
		}

		@media only screen and (max-width: $xs) {  
			max-width: 280px;
			margin-bottom: 30px;
			padding-top: 111px;
		}

		@media only screen and (max-width: $ss) {  
			max-width: 260px;
		}

		&__p {
			max-width: 170px;
			color: $text-white;
			font-family: $Roboto;
			font-size: 18px;
			font-weight: 500;
			line-height: 25px;
			@media only screen and (max-width: $sm) {  
				font-size: 16px;
				line-height: 22px;
			}
		}
 	}

	&__item-col-1{
		background-image:url(../img/1.svg);
		background-position: center 33px;
		background-repeat:no-repeat;
	}
	&__item-col-2{
		background-image:url(../img/2.svg);
		background-position: center 33px;
		background-repeat:no-repeat;
	}
	&__item-col-3{
		background-image:url(../img/3.svg);
		background-position: center 33px;
		background-repeat:no-repeat;
	}

}
.advantages__label {
	margin-top: 	120px;
	margin-bottom: 	112px;

	@media only screen and (max-width: $md) {  
		margin-top: 30px;
	    margin-bottom: 60px;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	}

	&__img {
		max-width: 	540px;
		position: 	relative;
		@media only screen and (max-width: $lg) { 
			max-width: 	505px;
		}

		&:after {
			content:"";
			position: 	absolute;	
			width: 100px;
			height: 2px;
			background-color: #377dff;
			right:-50px;
			top: 	121px;

			@media only screen and (max-width: $md) { 
			    right: auto;
			    top: auto;
			    transform: rotate(90deg);
			    bottom: 20px;
			    left: -10px;
			}
		}
	}
	&__content {
		display: 	flex;
		flex-direction:column;
		padding-top: 108px;
		padding-left: 	95px;
		@media only screen and (max-width: $md) { 
			padding-top: 45px;
    		padding-left: 0px;
    		max-width: 505px;
    		width: 100%;
		}
		@media only screen and (max-width: $xs) { 
		    padding-left: 30px;
		    padding-right: 30px;
		 }
		&__h3 {
			max-width: 290px;
			color: $blue;
			font-family: $Roboto;
			font-size: 30px;
			font-weight: 400;
			line-height: 40px;
			margin-bottom: 	25px;
			position: relative;
			z-index: 0;

			@include max-to(lg) {
				font-size: 34px;
				line-height: 34px;
			}

			 @include max-to(md) {
		    font-size: 28px;
		    line-height: 28px;
		  }
		}
		&__p {
			max-width: 340px;
			color: $text-black;
			font-family: $Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;

			@include max-to(md) {
				max-width: 100%;
			}
		}
	}
}
.popular-types {
	margin-bottom: 135px;
		@media only screen and (max-width: $md) {
			margin-bottom: 70px;
		}
	&__h2 {
		margin-bottom: 143px;
			@media only screen and (max-width: $md) {
				margin-bottom: 70px;
			}
	}
}

.popular-types__items {
	justify-content:space-between;
	background-color: $blue;
	padding-bottom: 65px;
	padding-left: 50px;
	padding-right: 50px;
	@media only screen and (max-width: $md) {
		padding-top: 65px;
		justify-content:space-around;
		padding-bottom: 10px;
	}
	&__item {
		max-width: 230px;	
		width: 	100%;
		text-align: 	center;	
		padding-bottom: 	29px;
		padding-top: 167px;
		background: $text-white;
		margin-top: -71px;
		@media only screen and (max-width: $lg) { 
			max-width: 	195px;
			margin-top: -71px;
		}
		@media only screen and (max-width: $md) { 
			max-width: 230px;
			margin-top: 0;
			margin-bottom: 45px;
		}
		&:first-child {
			background-image:url(../img/label1.svg); 
			background-position: center top;
			background-repeat:no-repeat; 
		}
		&:nth-child(2) {
			background-image:url(../img/label2.svg); 
			background-position: center top;
			background-repeat:no-repeat; 
		}
		&:nth-child(3) {
			background-image:url(../img/label3.svg); 
			background-position: center top;
			background-repeat:no-repeat; 
		}
		&:last-child {
			background-image:url(../img/label4.svg); 
			background-position: center top;
			background-repeat:no-repeat; 
		}
		p {
			font-weight: bold;
			color: $text-black;
			font-family: $Roboto;
			font-size: 16px;
			line-height: 1;
			margin-bottom: 	15px;
		}
		span {
			display: 	block;	
			font-weight: normal;
			color: $text-black;
			font-family: $Roboto;
			font-size: 16px;
			line-height: 1;
		}
	}
}
.popular-type__a {
	background-color: $blue;
	padding-bottom: 66px;
	justify-content:flex-end;
	padding-right: 50px;
	margin-top: -1px;
	@media only screen and (max-width: $md) { 
		padding-bottom: 55px;
	}
}
// ***
.proposition-block__text {
	&__p {
		/* Style for "Оставьте в" */
		max-width: 250px;
		color: $text-black;
		font-family: $Roboto;
		font-size: 25px;
		font-weight: bold;
		line-height: 35px;
		margin-left: -15px;
	}
}


header, footer {
	@media only screen and (max-width: $md) { 
		display: none;
	}
}

