.technologies {

  &__title {

    &::before {
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      display: block;
    }
  }

  &__label {
    margin-top: 0;

    &-content {
      padding: 15px 130px 0 0;

      @include max-to(lg) {
        padding: 15px 0 0;
      }

      p {
        margin-bottom: 20px;
        max-width: 376px;

        @include max-to(md) {
          max-width: 100%;
        }
      }

      &_left {
        padding: 75px 0 0 96px;

        @include max-to(xs) {
          padding-top: 0;
        }

        p {
          max-width: 415px;

          @include max-to(md) {
            max-width: 100%;
          }
        }
      }
    }

    &-img::after {
      top: 40px;
    }

    &-img_left::after {
      top: 91px;
      right: auto;
      left: -50px;

      @include max-to(md) {
        top: 30px;
        right: auto;
        left: 10px;
        bottom: auto;
      }
    }
  }
}

// Production
.production {
  margin-bottom: 117px;
  padding-top: 55px;
  background-image: url('../img/pic.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;

  @include max-to(lg) {
    background-size: 100% 380px;
  }

  @include max-to(md) {
    margin-bottom: 0;
    background-size: 100% auto;
  }

  &__title {
    margin-bottom: 65px;
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: $text-white;

    @include max-to(xs) {
      margin-bottom: 0;
      font-size: 28px;
      line-height: 28px;
    }

    span {
      position: relative;

      &::before {
        content: '02';
        position: absolute;
        top: 0;
        left: -35px;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        color: $light-blue;

        @include max-to(xs) {
          left: -25px;
        }
      }
    }
  }

  &__video {
    padding-left: 65px;

    @include max-to(md) {
      padding-left: 0;
    }

    &-title {
      margin-left: 97px;
      font-size: 25px;
      line-height: 35px;
      font-weight: normal;
      max-width: 270px;
      color: $text-white;

      &::before {
        color: $light-blue;
      }

      &_small {
        margin-left: 31px;
        font-size: 20px;
        line-height: 25px;
        max-width: 165px;
        color: $text-black;
        transition: all $delay;

        @include max-to(lg) {
          font-size: 18px;
          line-height: 20px;
          max-width: 115px;
          margin-left: 30px;
        }

        @include max-to(md) {
          font-size: 16px;
          line-height: 20px;
          margin-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-item:first-child &-title_small {
      color: $text-white;
    }

    &-item {
      margin-bottom: 16px;
      cursor: pointer;
      user-select: none;

      @include max-to(sm) {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
      }

      &:hover .production__video-title_small {
        margin-left: 51px;

        @include max-to(xl) {
          margin-left: 20px;
        }

        @include max-to(lg) {
          margin-left: 10px;
        }
      }

      &:hover .play::after {
        opacity: 0;
      }

      & .bracket_small::after{
        right: -30px;

        @include max-to(md) {
          right: 0;
        }
      }

      &.slick-current .bracket_small-slash{
        color: #ffffff;

        @include max-to(md) {
          color: #121215;
          right: 0;
          z-index: 0;
        }
      }

      &.slick-current .bracket_small-slash::after{
        content: ']';

        @include max-to(md) {
          right: 0;
        }
        @include max-to(sm) {
          right: auto;
          left: -11px;
          transform: scale(-1, 1);
        }
      }
    }

    &-small {
      width: 190px;
      height: 130px;
      overflow: hidden;
      flex: 0 0 190px;

      @include max-to(md) {
        width: 55%;
        flex: 0 0 55%;
      }

      @include max-to(sm) {
        width: 100%;
        height: 110px;
        margin-bottom: 15px;
      }

      &.play::after {
        top: 65%;
        width: 35px;
        height: 40px;

        @include max-to(md) {
          top: 5%;
        }
      }

      img {
        width: 100%;
      }
    }

    &-wrapper {
      user-select: none;
      width: 100%;

      @include max-to(sm) {
        padding-top: 60px;
      }

      & .production__video-title{
        margin-bottom: 35px;

        @include max-to(md) {
          margin-bottom: 15px;
        }

        @include max-to(sm) {
          color: #121215;
          margin-bottom: 15px;
        }
      }

      & .row {
        width: 100%;

        @include max-to(sm) {
          margin-left: 0;
        }
      }
    }

    &-main {
      width: 570px;
      height: 423px;
      margin-left: 15px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 1;

      @include max-to(md) {
        width: 100%;
        height: 380px;
        margin-left: 0;
      }

      &:hover::after {
        transform: scale(1.2);
      }

      &:active::after {
        transform: scale(1);
      }

      img {
        width: 100%;
      }
    }

    &-previews{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: 2;
    }

    &-mp4{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 99.5%;
      margin: auto;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__video-list{
    height: 423px;
    overflow: hidden;
    margin-top: 104px;

    @include max-to(md) {
      margin-top: 84px;
    }
    @include max-to(sm) {
      height: auto;
      margin-top: 15px;
    }
  }
}
// End Production

.play,
.production__video-previews {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 75%;
    top: 75%;
    right: 7%;
    width: 70px;
    height: 80px;
    z-index: 2;
    background-image: url('../img/icons/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all $delay;
    pointer-events: none;
  }
}

.video-previews-hide {
  display: none;
}