extends ../templates/_head

block title
	| Application
block content
	main
		.main
			.app-banner
				.container
					section.navigation-string.row.no-gutters
						a.navigation-string__a(href='') Главная
						span.navigation-string__span /
						a.navigation-string__a(href='') Применение продукции
					h1.title Применение
						span продукции
			section.app-banner__links
				.container
					.app-banner__links__items.row.no-gutters
						a.app-banner__links__items__item.logistick(href='') Ритейл, транспорт и логистика
						a.app-banner__links__items__item.banks(href='') Банки и финансовый сектор
						a.app-banner__links__items__item.health(href='') Фармацевтика и здаравоохранение
						a.app-banner__links__items__item.electron(href='') Производство электроники
						a.app-banner__links__items__item.goverment(href='') Государственный сектор
						a.app-banner__links__items__item.telecom(href='') Телекомуникации
			section.app-table.scroll_x
				.container
					.app-table__top.row.no-gutters
						.app-table__top__item
							span.app-table__top__item__span Отрасль
						.app-table__top__item
							span.app-table__top__item__span Устройства
						.app-table__top__item
							span.app-table__top__item__span Зачем использовать
						.app-table__top__item
							span.app-table__top__item__span Продукт
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Государственный сектор
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы идентификации личности (удостоверения личности, паспорта, включая биометрические и т.д.)
							p.app-table__content__item__p.slashbefore Системы с использованием электронных идентификационных документов, таких водительское удостоверение, социальная карта, разрешение на пребывание, полисы ОМС, свидетельства пенсионного страхования и др.
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Более высокое качество идентификации, более надежная защита от подделки и фальсификации
							p.app-table__content__item__p.slashbefore Сокращение временных затрат на контроль документов
							p.app-table__content__item__p.slashbefore Повышение качества оказания государственных услуг
						.app-table__content__item
							a.app-table__content__item__a(href='') RFID чипы
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Фармацевтика и здравоохранение
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы учета и контроля
							p.app-table__content__item__p.slashbefore Системы защиты от фальсификации
							p.app-table__content__item__p.slashbefore Специальные медицинские информационные системы
						.app-table__content__item
							
							p.app-table__content__item__p.slashbefore Защита лекарственных средств от фальсификации
							p.app-table__content__item__p.slashbefore Надежное хранение информации о состоянии и истории болезни
							p.app-table__content__item__p.slashbefore Защита клинических данных от ошибок, связанных с человеческим фактором
						.app-table__content__item
							a.app-table__content__item__a.slashbefore(href='') RID метки на товары
							a.app-table__content__item__a.slashbefore(href='') Разрушаемые метки на бумажной основе
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Фармацевтика и здравоохранение
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы управления складом и торговлей
							p.app-table__content__item__p.slashbefore Системы управления отношениями с клиентами
							p.app-table__content__item__p.slashbefore Противокражные системы и системы защиты от подделки
							p.app-table__content__item__p.slashbefore Системы взимания платы за проезд
							p.app-table__content__item__p.slashbefore Системы идентификации транспорта в режиме реального времени
							p.app-table__content__item__p.slashbefore Системы контроля въезда-выезда, управления транспортом
							p.app-table__content__item__p.slashbefore Системы учета и инвентаризации
							p.app-table__content__item__p.slashbefore Системы закупок
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Сокращение затрат на контроль товарооборота
							p.app-table__content__item__p.slashbefore Сокращение времени на обслуживание клиентов и повышение качества сервиса
							p.app-table__content__item__p.slashbefore Полноценная информация для анализа потребительских предпочтений
							p.app-table__content__item__p.slashbefore Экономия за счет сокращения количества краж
							p.app-table__content__item__p.slashbefore Повышение качества и скорости обслуживания пассажиров
							p.app-table__content__item__p.slashbefore Защита транспортных билетов от поделки
							p.app-table__content__item__p.slashbefore Сбор статистических данных по транспорту и пассажирам
							p.app-table__content__item__p.slashbefore Оптимизация процессов инвентаризации и логистики
							p.app-table__content__item__p.slashbefore Сокращение временных затрат на приемку и отгрузку товаров
							p.app-table__content__item__p.slashbefore Автоматизированный сбор данных о перемещении грузов
						.app-table__content__item
							a.app-table__content__item__a.slashbefore(href='') Разрушаемые метки на бумажной основе
							a.app-table__content__item__a.slashbefore(href='') RFID метки на транспорт, товары и паллеты
							a.app-table__content__item__a.slashbefore(href='') Транспортные карты и билеты
			.proposition.col-xl-12
				.container
					.proposition-block__text
						h2.title-form Получить предложение				
						p.proposition-block__text__p Оставьте ваши контактные данные
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row.no-gutters
							.proposition-block__form__wrapper__input
								input(type='text' name='name' placeholder='Имя')
								input(type='tel' name='tel' placeholder='Телефон')
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Отправить
