extends ../templates/_head

block title
	| Innovation
block content
	main
		.main
			.container
				section.navigation-string.row.no-gutters
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Спецификации RFID Антен
				section.banner-sticker.banner-specifications__bg.banner-innovation__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Экономия за счет
							span.banner-specifications__bg__span инноваций
						p.text-black.banner-sticker__block__p Мы потратим годы, чтобы добиться значительной экономии при покупке RFID меток
			section.app-banner__links
				.container
					.row.justify-content-between.inn-banner__links__items
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.simple-a.anchor(href='#innovations') Гениальная простота
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.assort-a.anchor(href='#assortment') Ассортимент
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.nonagent-a.anchor(href='#nonagent') Без посредников
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.certificate-a.anchor(href='#certificate') Сертифицировано
			section.innovations-parts
				.container
					.innovations-parts__simple-block#innovations
						h2.title.advantages__h2 
							span 01 
							|Гениальная простота
						.innovations-parts__simple-block__items.row
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Нет пластиковых инкрустаций, никакой суеты
								p Изготовленные из бумаги этикетки RFID Tageos мгновенно производятся нашими машинами и сразу готовы к использованию.
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Промышленность
								p Наши этикетки оснащены тегом кремния от лидеров отрасли NXP™, Alien Technology™ и Impinj™.
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Дизайн смартер антенны
								p Наши инженеры потратили годы на разработку уникальной в отрасли антенны. В результате получается более тонкая антенна, с равной, если не лучше, производительностью.
						.innovations-parts__simple-block__infographic.row
							.innovations-parts__simple-block__infographic__graph
								.innovations-parts__simple-block__infographic__graph__text
									p бумага
									p аллюминий
									p чип
								.innovations-parts__simple-block__infographic__graph__text-abs
									p Всё просто!
							.innovations-parts__simple-block__infographic__illustration
								p Наши продукты доступны в виде  клейких этикеткок и висячих наклеек
							.innovations-parts__simple-block__infographic__text
								span меньше отходов
								p 
								| Tageos использует на 
								span.percents 50% 
								| меньше клея, без пластика и создает на 
								span.percents 90% 
								| меньше отходов, чем традиционные теги.
					.innovations-parts__assortment-block#assortment.row.no-gutters
						.innovations-parts__assortment-block__h2.row
							h2.innovations-parts__assortment-block__h2-h2
								span 02 
								|Ассортимент
							h2.innovations-parts__assortment-block__h2-p.slashbefore
								span У нас есть полный набор RFID меток и RFID этикеток, соответствующих Вашим потребностям
					.innovations-parts__assortment-block__items.row
						.innovations-parts__assortment-block__items__item.first
							p 
								span RFID Tag 
								|  произведет метки с Вашим логотипом и фирменным цветом
						.innovations-parts__assortment-block__items__item.second
							p 
								|В тех случаях когда бизнес оправдывает: 
								span RFID Tag 
								|  может разработать метку по индивидуальному техническому заданию, включая дизайн антенны
						.innovations-parts__assortment-block__items__item.third
							p Ваши метки могут быть произведены по индивидуальному дизайну с различными формами, размерами и запасом бумаги
					.innovations-parts__nonagent-block#nonagent
						.advantages.col-xl-12
							.advantages__label.technologies__label.innovations__label.row
								.advantages__label__content.innovations__label-content_left
									h3.advantages__label__content__h3.bracket_slash.innovations__bracket_slash Без посредников
									p.advantages__label__content__p Мы предоставляем торговую марку RFID в различных материалах, совместимых с существующей традиционной этикеткой. Продукция является исключительно нашего производства.
								.advantages__label__img.innovations__label-img_left
									img(src='img/levels_1.png', alt="image")
					.innovations-parts__certificate-block.d-flex#certificate
						.innovations-parts__certificate-block__certificates
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert1.svg', alt="image")
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert2.svg', alt="image")
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert3.svg', alt="image")
						.innovations-parts__certificate-block__line
						.innovations-parts__certificate-block__content
							h3.advantages__label__content__h3 Сертифицированное качество
							p.advantages__label__content__p Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.
			.proposition.col-xl-12
				.container
					.proposition-block__text
						h2.title-form Получить предложение
						p.proposition-block__text__p Оставьте ваши контактные данные
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row
							.proposition-block__form__wrapper__input
								input(type='text' name='name' placeholder='Имя')
								input(type='tel' name='tel' placeholder='Телефон')
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Отправить
