extends ../templates/_head
include ../layout/_eos

block title
	| Labels
block content
	main
		.main.main-height.labels__main-height
			.container
				section.navigation-string.row
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Этикетки
				section.banner-sticker.banner-labels__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Этикетки
						p.text-black.banner-sticker__block__p 100% бумажная основа Рабочий диапазон 860-960 МГц
		section
			.tabs-item.tabs-item__tools
				.container
					.row.d-flex.no-gutters
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-nides
								.text.tabs-item__title
									p Для любых потребностей
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-eco
								.text.tabs-item__title
									p Экологичная экономия
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-serf
								.text.tabs-item__title
									p Сертифицировано
		section
			.container
				h2.title.advantages__h2.label-advantages__h2
					span 01
					| Этикетки и бирки для любых потребностей
			.container
				.tabs-items__tools
					.row.d-flex.no-gutters.justify-content-between
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_100.png',
								number: '100',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Ювелирные изделия'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_110.png',
								number: '110',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Ювелирные изделия Здравоохранение'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_220.png',
								number: '220',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_300.png',
								number: '300',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_400.png',
								number: '400',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда Логистика Отслеживание активов'
						})
						.col-6.col-sm-6.d-sm-block.d-xs-block.d-md-none
							.btn-more.btn-more__tools-sm
								.b-flex.justify-content-start
										.popular-type__a.btn-more__height.btn-more__height-sm
											a(href="") Смотреть спецификации
			.btn-more.btn-more__tools
				.row.justify-content-end
					.col-12.col-md-6.d-none.d-md-block
						.popular-type__a.btn-more__height
							a(href="") Смотреть спецификации
		section
			.label-eco.label-eco__tools
				.container
					h2.title.advantages__h2.label-advantages__h2
						span 02
						| Экологичная экономия
				.container
					.advantages__label.row.no-gutters.align-items-center.label-eco__advantages-tools
						.col-12.col-xs-12.col-sm-6
							.advantages__label__img.label-eco__advantages-img
								img(src='./img/hue-saturation.png', alt="image")
						.col-12.col-xs-12.col-sm-6
							.advantages__label__content.label-eco__advantages-content.bracket_slash.advantages__label_slash
								h3.advantages__label__content__h3 Меньше отходов, больше сбережений
								p.advantages__label__content__p Для производства этикеток RFIDTag минимизируется исползование пластика, клея, что делает ее более экономичной и безопасной для окружающей среды
		section
			.label-serf
				.container
					h2.title.advantages__h2.label-advantages__h2.label-serf__title
						span 03
						| Продукция сертифицирована
				.container
					.advantages__label.row.no-gutters.align-items-center.label-eco__advantages-tools
						.col-12.col-xs-12.col-sm-6
							.advantages__label__content.label-eco__advantages-content
								h3.advantages__label__content__h3 Сертифицированное качество
								p.advantages__label__content__p Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.
						.col-12.col-xs-12.col-sm-6
							.advantages__label__img.label-serf__advantages-img
								img(src='./img/label-serf.png', alt="image")
		section
			.container
				.proposition-block__text.label-proposition__tools
					h2.title-form Получить предложение
			.btn-more.btn-more__tools.label-proposition__btn-more
				.row.justify-content-end
					.col-12.col-md-5
						.title.btn-more__content
							p Пройдите небольшой опрос, который займет всего
								span 10 минут
					.col-12.col-md-7
						.popular-type__a.btn-more__height
							a(href="") Пройти опрос