extends ../templates/_head

block title
	| RFIDTag
block content
	main.main-page
		section#carouselFRID.main-page__slider.carousel.slide.carousel-fade(data-ride="carousel")
			.carousel-inner
				.main-page__slider-item.carousel-item.active
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png", alt="image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Экономия за счет инноваций
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") Подробнее
				.main-page__slider-item.carousel-item
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png", alt="image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Lorem Ipsum
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") О Нас
				.main-page__slider-item.carousel-item
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png", alt="image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Lorem ipsum dolor sit amet.
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") Подробнее
			a.carousel-control__arrow-wrapper.carousel-control-prev(href="#carouselFRID" role="button" data-slide="prev")
				span.carousel-control__arrow.carousel-control-prev-icon(aria-hidden="true")
				span.sr-only Previous
			a.carousel-control__arrow-wrapper.carousel-control-next(href="#carouselFRID" role="button" data-slide="next")
				span.carousel-control__arrow.carousel-control-next-icon(aria-hidden="true")
				span.sr-only Next
		section.main-page__content
			.container
				.row
					.col-lg-12.col-xl-11
						h2.title.bracket.main-page__content-title Полный спектр #[span RFID продукции,] готовой к использованию в вашем бизнесе
				article.article
					.row.no-gutters
						.col-lg-6
							.article__content
								.row.d-flex.justify-content-center
									.col-lg-7.col-xl-6
										.article__content-wrapper.mb-3.mb-lg-0
											h3.article__content-title Этикетки
											.article__content-text 
												p Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.
												span.article__content-num 01
						.col-lg-6
							figure.article__img
								img(src="img/layer_12.png" alt="Content Image")
							.big-blue-button
								a.slider-item__more(href="#") Подробнее
				article.article
					.row.no-gutters
						.col-lg-6.mb-3.mb-lg-0
							figure.article__img
								img(src="img/5-layers.png" alt="Content Image")
							.big-blue-button
								a.slider-item__more(href="#") Подробнее
						.col-lg-6
							.article__more-product.d-flex.flex-column.justify-content-between
								.article__content
									.row.d-flex.justify-content-center
										.col-lg-7.col-xl-6
											.article__content-wrapper.mb-3.mb-lg-0
												h3.article__content-title Метки на метал
												.article__content-text 
													p Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.
													span.article__content-num.article__content-num_right 02
								.big-blue-button.big-blue-button_opac.article__big-blue-button
									a.slider-item__more.article__slider-item__more.js-more-btn(href="#") Больше продукции
			.more-products
				.more-products__wrapper
					.container
						.more-products__items.d-flex.flex-wrap.flex-sm-nowrap.justify-content-around.justify-content-sm-start
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_4.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Антены
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_8.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Инлеи
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_6.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Метки
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_7.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption Смарт карты
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_8.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption Индивидуальное проектирование
		.proposition
			.container
				.proposition-block__text.test-block__text
					h2.title-form Получить предложение				
					p.proposition-block__text__p 
			form.proposition-block__form
				.container
					.proposition-block__form__wrapper.row
						.proposition-block__form__wrapper__input
							P Пройдите небольшой опрос, который займет всего #[span 10 минут]
						.proposition-block__form__wrapper__button
							button(name='submit' type='submit' value="Отправить") Пройти опрос
							
	.modal-callback
		.modal-callback__wrapper
			span.modal-callback__close.js-callback-close
			p.modal-callback__title Оставьте ваши контактные данные
			form.modal-callback__form
				.proposition-block__form__wrapper__input.modal-callback__input-group
					input(type='text' name='name' placeholder='Имя')
					input(type='tel' name='tel' placeholder='Телефон')
					input.modal-callback__send(type="submit" value="Отправить")
