extends ../templates/_head

block title
  | One Roof
block content
  main.one-roof
    .container
      section.navigation-string.row
        a.navigation-string__a(href='#') Главная
        span.navigation-string__span /
        a.navigation-string__a(href='#') Весь RFID под одной крышей
      section.banner-sticker.banner-specifications__bg.banner-innovation__bg.row.one-roof__bg
        .banner-sticker__block.col-xl-12
          h1.title.banner-sticker__block__h1 Весь RFID
            span.banner-specifications__bg__span под одной крышей
          p.text-black.banner-sticker__block__p Наш бизнес был построен как система с минимальными издержками, связанными с проектированием и производством RFID меток
    section.app-banner__links
      .container
        .app-banner__links__items.inn-banner__links__items.row
          a.app-banner__links__items__item.simple-a.fool-loop.anchor(href='#loop-section') Полный цикл
          a.app-banner__links__items__item.assort-a.free-examples.anchor(href='#free-samples') Бесплатные образцы
          a.app-banner__links__items__item.nonagent-a.scalable-production.anchor(href='#scalable-production') Масштабируемое производство
          a.app-banner__links__items__item.certificate-a.our-partners.anchor(href='#our-partners') Наши партнеры в мире
    section#loop-section.loop-section
      .container
        h2.title.advantages__h2.loop-section__title #[span 01] Полный цикл
        .loop-section__bg
        .loop-section__wrapper
          .row.d-flex.justify-content-md-start.justify-content-xl-between.no-gutters
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Проектирование #[br] Дизайн #[span 01]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_1.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Тех. задание
                    li.loop-section__list-item Чертёж
                    li.loop-section__list-item Спецификация
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Изготовление #[br] образцов #[span 02]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_2.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Измерения
                    li.loop-section__list-item Натурные тесты
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Производство #[br] RFID-антены #[span 03]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_3.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Lamination
                    li.loop-section__list-item Cleaning
                    li.loop-section__list-item Printing
                    li.loop-section__list-item Etching
                    li.loop-section__list-item Inspection
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Производство #[br] RFID-меток #[span 04]
                span.loop-section__item-date 2 недели
                figure.loop-section__item-img
                  img(src="img/pic_4.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Flip chip Bonding
                    li.loop-section__list-item Converting
                    li.loop-section__list-item Roll on glue
                    li.loop-section__list-item Die cutting
                    li.loop-section__list-item Slitting
                    li.loop-section__list-item Testing
                    li.loop-section__list-item RFID Label
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Упаковка #[br] Доставка #[span 05]
                span.loop-section__item-date 1-2 недели
                figure.loop-section__item-img
                  img(src="img/pic_5.png" alt="Image")
                .loop-section__item-descr

    section#free-samples.free-samples
      .container
        h2.title.advantages__h2.loop-section__title #[span 02] Бесплатные образцы
        .row
          .col-lg-6
            .free-samples__text
              p Свяжитесь с нами для заказа бесплатных образцов, и мы незамедлительно отправим их вам где-бы вы не находились
      form.proposition-block__form
        .container
          .proposition-block__form__wrapper.row
            .proposition-block__form__wrapper__input
              input(type='text' name='name' placeholder='Имя')
              input(type='tel' name='tel' placeholder='Телефон')
            .proposition-block__form__wrapper__button
              button(name='submit' type='submit' value="Отправить") Связаться
    .container
      #scalable-production.advantages.col-xl-12
        .advantages__label.technologies__label.one-roof__label.row.justify-content-end
          .advantages__label__content.technologies__label-content.technologies__label-content_left.order-last.order-lg-first
            h3.advantages__label__content__h3.bracket.bracket_slash Масштабируемое производство
            p.advantages__label__content__p.one-roof__label-p Наша производственная мощность входит в TOP 3 в мировом масштабе и способна удовлетворить спрос на сотни миллионов меток.
          .advantages__label__img.technologies__label-img.technologies__label-img_left
            img(src='img/layer_52.png' alt="Image")
      section#our-partners.partners-map
        h2.production__title.partners-map__title #[span Наши партнёры в мире]
        .partners-map__wrapper
        .partners-map__brands
          .row.d-flex.no-gutters.justify-content-between
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_45.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_46.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_47.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/hover.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_49.png" alt="Partner Image")
  .proposition
    .container
      .proposition-block__text
        h2.title-form Получить предложение				
        p.proposition-block__text__p Оставьте ваши контактные данные
    form.proposition-block__form
      .container
        .proposition-block__form__wrapper.row
          .proposition-block__form__wrapper__input
            input(type='text' name='name' placeholder='Имя')
            input(type='tel' name='tel' placeholder='Телефон')
          .proposition-block__form__wrapper__button
            button(name='submit' type='submit' value="Отправить") Отправить



              
				
