extends ../templates/_head

block title
	| Specifications
block content
	main
		.main
			.container
				section.navigation-string.row.no-gutters
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Спецификации RFID Антен
				section.banner-sticker.banner-specifications__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Спецификации
							span.banner-specifications__bg__span RFID Антен
				section.specifications-block
					.specifications-block__items.row.no-gutters
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
					.specifications-block__pagination
						ul.specifications-block__pagination__ul.row
							li.specifications-block__pagination__ul__li.before-active.prev
							li.specifications-block__pagination__ul__li.before-active 1
							li.specifications-block__pagination__ul__li.before-active 2
							li.specifications-block__pagination__ul__li.before-active 3
							li.specifications-block__pagination__ul__li.before-active 4
							li.specifications-block__pagination__ul__li.before-active 5
							li.specifications-block__pagination__ul__li.before-active 6
							li.specifications-block__pagination__ul__li.active 7
							li.specifications-block__pagination__ul__li.after-active 8
							li.specifications-block__pagination__ul__li.after-active 9
							li.specifications-block__pagination__ul__li.after-active 10
							li.specifications-block__pagination__ul__li.after-active 11
							li.specifications-block__pagination__ul__li.after-active.next
			.proposition.col-xl-12
				.container
					.proposition-block__text.test-block__text
						h2.title-form Получить предложение				
						p.proposition-block__text__p 
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row.no-gutters
							.proposition-block__form__wrapper__input
								p Пройдите небольшой опрос, который займет всего 
									span 10 минут
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Пройти опрос
