extends ../templates/_head

block title
	| Sticker
block content
	main
		.main
			.container
				section.navigation-string.row.no-gutters
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') RFID Метка
				section.banner-sticker.row.no-gutters
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 RFID 
							span Метка
						p.text-black.banner-sticker__block__p Полный спектр HF и UHF меток с разными видами сборки и формата конвертации
					.advantages.col-xl-12
						h2.title.advantages__h2 
							span 01 
							| Ключевые преимущества
						.advantages__items
							.row.justify-content-center.justify-content-sm-between
								.col-12.col-xs-12.col-sm-4
									.advantages__items__item.advantages__items__item-col-1
										p.advantages__items__item__p Контроль качества мирового уровня
								.col-12.col-xs-12.col-sm-4
									.advantages__items__item.advantages__items__item-col-2
										p.advantages__items__item__p Собственное производство
								.col-12.col-xs-12.col-sm-4
									.advantages__items__item.advantages__items__item-col-3
										p.advantages__items__item__p Оптимизированные издержки
						.advantages__label.row.no-gutters
							.advantages__label__img
								img(src='./img/label.png', alt="image")
							.advantages__label__content
								h3.advantages__label__content__h3 RFID Метка специально для вас
								p.advantages__label__content__p Получите RFID Метку идеально подходящую для ваших условий.
					.popular-types.col-xl-12
						h2.title.advantages__h2.popular-types__h2
							span 02 
							| Популярные виды RFID Меток
						.popular-types__items.row.no-gutters
							.popular-types__items__item
								p Antenna 
								span № 1020068
							.popular-types__items__item
								p Antenna 
								span № 1020068
							.popular-types__items__item
								p Antenna 
								span № 1020068
							.popular-types__items__item
								p Antenna 
								span № 1020068
						.popular-type__a.row.no-gutters
							a(href='') Перейти к спецификациям
		.proposition.col-xl-12
			.container
				.proposition-block__text
					h2.title-form Получить предложение				
					p.proposition-block__text__p Оставьте ваши контактные данные
			form.proposition-block__form
				.container
					.proposition-block__form__wrapper.row.no-gutters
						.proposition-block__form__wrapper__input
							input(type='text' name='name' placeholder='Имя')
							input(type='tel' name='tel' placeholder='Телефон')
						.proposition-block__form__wrapper__button
							button(name='submit' type='submit' value="Отправить") Отправить





				