extends ../templates/_head

block title
  | Technologies
block content
  main.technologies
    .container
      section.navigation-string.row
        a.navigation-string__a(href='#') Главная
        span.navigation-string__span /
        a.navigation-string__a(href='#') Наши технологии
      section.banner-sticker.row
        .banner-sticker__block.col-xl-12
          h1.title.banner-sticker__block__h1.technologies__title Наши 
            span технологии
        .advantages.col-xl-12
          .advantages__label.technologies__label.row.justify-content-between
            .advantages__label__img.technologies__label-img
              img(src='img/layer_51.png' alt="image")
            .advantages__label__content.technologies__label-content
              h3.advantages__label__content__h3 Производственная мощность
              p.advantages__label__content__p Теперь мы сертифицированы ISO9001 и ISO14001 и поддерживаем долгосрочные партнерские отношения с такими клиентами, как Avery Dennison, Smartrac, Alien, Texas Instruments Malaysia и Arizon. Наш объем поставок занимает первое место в мире, и наши продукты высоко отзываются о наших клиентах.
              p.advantages__label__content__p На протяжении многих лет INLAYLINK расширился, чтобы ежегодно выпускать более 10 миллиардов листов высокочастотных и сверхвысокочастотных алюминиевых травильных антенн для более чем 100 известных компаний по упаковке RFID-меток.
        .col-xl-12
          section.production
            h2.production__title #[span Наше производство]
            .row.align-items-start
              .col-12.col-sm-12.col-md-7
                #production__video-slide.production__video
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_53.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/Alita_Angel.mp4', type='video/mp4')
                          source(src='./video/Alita_Angel.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/Alita_Angel.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_54.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/venom_tv.mp4', type='video/mp4')
                          source(src='./video/venom_tv.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/venom_tv.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_55.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/Alita_Angel.mp4', type='video/mp4')
                          source(src='./video/Alita_Angel.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/Alita_Angel.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_56.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/venom_tv.mp4', type='video/mp4')
                          source(src='./video/venom_tv.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/venom_tv.ogg', type='video/ogg; codecs="theora, vorbis"')
              .col-12.col-sm-12.col-md-5
                #production__video-slide-nav.production__video-list
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_53.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Процесс производства RFID HF Инлеев
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_54.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Обновленный цех покраски
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_55.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Тестирование продукции
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_56.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Процес индивидуального проектироваия
        .advantages.col-xl-12
          .advantages__label.technologies__label.row.justify-content-between
            .advantages__label__content.technologies__label-content.technologies__label-content_left
              h3.advantages__label__content__h3 Производственный процес
              p.advantages__label__content__p Здесь вы можете увидеть наш производственный процесс, который включает ламинирование, чистку, печать, травление, осмотр.
              p.advantages__label__content__p Мы по-прежнему находим способы оптимизации нашего процесса и предоставления клиентам высококачественных продуктов по разумной цене.
            .advantages__label__img.technologies__label-img.technologies__label-img_left
              img(src='img/layer_52.png' alt="image")
  .proposition
    .container
      .proposition-block__text.test-block__text
        h2.title-form Получить предложение				
        p.proposition-block__text__p 
    form.proposition-block__form
      .container
        .proposition-block__form__wrapper.row
          .proposition-block__form__wrapper__input
            P Пройдите небольшой опрос, который займет всего #[span 10 минут]
          .proposition-block__form__wrapper__button
            button(name='submit' type='submit' value="Отправить") Пройти опрос