* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.items{
  width: 800px;
  height: auto;
  margin: auto;
  background-color: #ebebeb;
  padding: 15px 20px; 
  overflow-x: auto;
}

.items-track{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.item{
  display: inline-block;
  width: 240px;
  height: 420px;
  flex: 0 0 240px;
  overflow: hidden;
  box-shadow: 0 2px 10px #212121;
  margin-right: 15px;
  cursor: pointer;
}

.item:last-child{
  margin-right: 0;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}