// white link
.popular-type__a {
	a {
		display: block;
		position: relative;
		color: $text-white;
		font-family: $Roboto;
		font-size: 20px;
		font-weight: 500;
		line-height: 1;
		&:after {
			position: absolute;
			content: "";
			width: 7px;
			height: 14px;
			top: 3px;
			right: -23px;
			background-image:url(../img/arrow_right.svg);
			background-position: center;
			background-repeat:no-repeat;
			transition:.3s ease-in-out;
		}
		&:hover:after {
			right: -38px;
		}
	}
}

// form proposition
.proposition {
	padding: 0;
}

.proposition-block__text {
	@media only screen and (max-width: $md) {
		padding: 0 30px;
	}
}
.proposition-block__form {
	background-image:url(../img/bg-form.png);
	background-position: 100% 100%;
	background-repeat:no-repeat;
	background-size: 50% 100%;
	margin-top: 16px;
	@media only screen and (max-width: $xs) {
		background-size: 100% 24%;
    	margin-top: 25px;
	}
	&__wrapper {
		align-items:center;
		padding: 51px 0 57px 0;
		@media only screen and (max-width: $md) {
			padding: 30px 0 34px 0;
		}
		@media only screen and (max-width: $xs) {
			flex-direction: column;
		}
		&__input {
			width: 50%;

			@media only screen and (max-width: $xs) {
				margin-bottom: 60px;
				width: 90%;
			}

			p {
				@include max-to(xs) {
					font-size: 25px;
					line-height: 35px;
				}
			}

			input {
				appearance: none;
				-webkit-appearance: none;
				max-width: 220px;
				width: 100%;
				border:none;
				padding: 10px 0;
				border-bottom: 2px solid $text-black;
				color: $text-black;font-family: $Roboto;font-size: 14px; font-weight: normal;
				transition:.3s ease;
				cursor:pointer;
				&:focus {
					outline: none;
				}
				&:hover {
					border-bottom: 2px solid $blue;
				}
				@media only screen and (max-width: $lg) {
					max-width: 	190px;
				}
				@media only screen and (max-width: $md) {
					margin-bottom: 15px;
				}
				@media only screen and (max-width: $xs) {
					max-width: none;
				}
			}

			input:first-child {
				margin-right: 32px;
				@media only screen and (max-width: $md) {
					margin-right: 0;
				}
			}
		}
		&__button {
			width: 50%;

			@include max-to(xs) {
				width: 70%;
			}

			button {
				background: none;
				border:none;
				appearance: none;
				-webkit-appearance: none;
				display: block;
				position: relative;
				color: $text-white;
				font-family: $Roboto;
				font-size: 20px;
				font-weight: 500;
				line-height: 1;
				margin-left: 28px;
				cursor:pointer;
				@media only screen and (max-width: $md) {
				    // margin-left: 0;
				    cursor: pointer;
				    margin-bottom: -24px;
				}
					&:after {
						position: absolute;
						content: "";
						width: 7px;
						height: 14px;
						top: 3px;
						right: -23px;
						background-image:url(../img/arrow_right.svg);
						background-position: center;
						background-repeat:no-repeat;
						transition:.3s ease-in-out;
					}
					&:hover:after {
						right: -38px;
					}
			}
		}
	}
}
.proposition-block__form__wrapper__input input::-webkit-input-placeholder {color: #b2b2b2;font-family: $Roboto;font-size: 14px; font-weight: normal;}
.proposition-block__form__wrapper__input input::-moz-placeholder          {color: #b2b2b2;font-family: $Roboto;font-size: 14px; font-weight: normal;}
.proposition-block__form__wrapper__input input:-moz-placeholder           {color: #b2b2b2;font-family: $Roboto;font-size: 14px; font-weight: normal;}
.proposition-block__form__wrapper__input input:-ms-input-placeholder      {color: #b2b2b2;font-family: $Roboto;font-size: 14px; font-weight: normal;}
.proposition-block__form__wrapper__input input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input::-moz-placeholder                {opacity: 1; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:-moz-placeholder                 {opacity: 1; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.34s ease;}
.proposition-block__form__wrapper__input input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.34s ease;}

.proposition-block__form__wrapper__input p {
	max-width: 400px;
	color: $text-black;
	font-family: $Roboto;
	font-size: 25px;
	font-weight:bold;
	line-height: 35px;
	@media only screen and (max-width: $md) {
		padding-right: 15px;
		margin-bottom: 25px;
	}
	@media only screen and (max-width: $xs) {
		padding-right: 0;
		font-size: 22px;
		line-height: 26px;
	}
	span {
		color: $blue;
	}
}
.test-block__text h2 {
	margin-bottom: 	90px;
	@media only screen and (max-width: $sm) {
		margin-bottom: 50px;
	}
	@media only screen and (max-width: $xs) {
		margin-bottom: 40px;
	}
}
