mixin eos(data)
	.eos-card.eos-card__tools
		.eos-card__icon
			.eos-card__icon-img(style="background-image: url(img/"+ data.src + ")")
		.eos-card__number.bracket.eos-card__number_bracket
			p EOS -
			span= data.number
		.eos-card__content
			.eos-card__title
				p= data.format
				span= data.sticker
			.eos-card__title
				p= data.format2
				span= data.sticker2