//- Styles
mixin styles(...files)
  each file in files
    link(rel="stylesheet",href= file)

mixin iconSVG(name,mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="svg/svg/symbols.svg#" + name)
