script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')
script(src="js/plugins/jquery.maskedinput.min.js")
script(src="js/plugins/jquery.validate.min.js")
script(src="module/slick-carousel/slick/slick.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src="module/bootstrap-4/js/bootstrap.min.js")
script(src="module/custom_scroll_X/jquery.mCustomScrollbar.js")
script(src="js/main.js")
