//- Navigation
-var nav = {'Menu1':'index.html','Menu2':'page2.html','Menu3':'page3.html'}

ul
  each linkPath, linkName in nav
    li: a(href= linkPath) #{linkName}
      
//- Using mixin with DATA Object
//- mixin trainers_block(data)
//-   .tranersBlock
//-     .tranersBlock__img
//-       img(src= data.src, alt= data.alt)
//-     .tranersBlock__info.df-jc-sb
//-       h2= data.title
//-       .tranersBlock__info_text
//-       	p= data.text
  
  //- How to Use      
//- .traners-wrapper.df-jc-sb
//-   +trainers_block({
//-     src: '../img/image.png',
//-     alt: 'Image',
//-     title: 'Victor Kyssa',
//-     text: 'Lorem ipsum ipsum ipsum'
//-   }) 
